<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smol</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="../assets/script.js"></script>

</head>


<body>

  <div class="container">
    <svg viewbox="0 0 100 20">
      <defs>
        <linearGradient id="gradient">
          <stop color="#000" />
        </linearGradient>
        <pattern id="wave" x="0" y="-0.5" width="100%" height="100%" patternUnits="userSpaceOnUse">
          <path id="wavePath" d="M-40 9 Q-30 7 -20 12 T0 14 T20 14 T40 14 T60 14 T80 14 T100 14 T120 14 V20 H-40z"
            mask="url(#mask)" fill="url(#gradient)">
            <animateTransform attributeName="transform" begin="0s" dur="2.5s" type="translate" from="0,0" to="40,0"
              repeatCount="indefinite" />
          </path>
        </pattern>
      </defs>
      <text text-anchor="middle" x="50" y="20" font-size="19" fill="black" fill-opacity="0.1">SMOL</text>
      <text text-anchor="middle" x="50" y="20" font-size="19" fill="url(#wave)" fill-opacity="1">SMOL</text>
      <text text-anchor="middle" x="28" y="25" font-size="6" fill="black" fill-opacity="1">your personal </text>
      <text text-anchor="middle" x="66" y="25" font-size="6" fill="orange" fill-opacity="0.6">url shortner</text>


    </svg>
    <button class="btn-floating pulse btn-large waves-effect waves-light black child"
      onclick="smoothScroll(document.getElementById('margindiv'))"><i class="material-icons">content_cut</i></button>
    <div class="margindiv" id="margindiv"><br><br>
      <blockquote id="note">
        <span class="blue-grey-text darken-1">You can find your shrinked url at the end of the list</span>
      </blockquote>
    </div>
    <div class="">


      <div class="fulldiv" id="fulldiv1">
        <form action="/smol" method="post">
          <div class="input-field col s12" id="smol1">
            <input required id="fullurl" type="url" name="urlshrinker" class="validate">
            <label for="fullurl">Enter your URL here</label>
          </div>

          <div class="center1">
            <button class="btn waves-effect waves-light  z-depth-4 blue-grey darken-3 " type="submit">Shrink</button>
          </div>
        </form>
        <% if(msg=='error'){%>
        <blockquote id="errormsg">
          <b> Please enter correct URL :( </b>
        </blockquote>
        <%}else if(msg=='success'){%>
        <blockquote id="successmsg">
          <b> URL added successfully !</b>
        </blockquote>
        <%}%>
<table class=" responsive-table highlight">
    <thead>
        <tr>
        <th>Your URL</th>
        <th>Shrinked URL</th>
        <th>Visits</th>
        </tr>
    </thead>
    <tbody>
      <%data.forEach(shorturl=>{%>
        <tr>
          <%if(shorturl.newfull){%>
          <td>
            <a href="<%=shorturl.full%>"><%=shorturl.newfull%> </a>
          </td>
          <%}else{%>
          <td>
            <a href="<%=shorturl.full%>"><%=shorturl.full%> </a>
          </td>
          <%}%>
                <td>
                    <a href="<%=shorturl.short%> "
          target="_blank">https://young-gorge-65527.herokuapp.com/<%=shorturl.short%> </a>
          </td>
          <td>
            <%=shorturl.count%>

          </td>
        </tr>

        <%})%>

        </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>